# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps 
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
#Load the CSV file from previous project
#set a variable for the file location
city_file = "city_data.csv"

city_data = pd.read_csv(city_file)

city_data.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Klaksvik,100,FO,1580239795,100,62.23,-6.59,30.20,1.12
1,1,Muli,0,MV,1580239795,75,2.92,73.57,81.07,15.77
2,2,Suhaia,20,RO,1580239795,86,43.73,25.25,41.00,2.24
3,3,Coelho Neto,51,BR,1580239795,84,-4.26,-43.01,85.19,3.85
4,4,Abu Samrah,98,SY,1580239606,76,35.30,37.18,49.95,6.78

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
#Access maps with unique API key
gmaps.configure(api_key=g_key)

In [9]:

#Set parameters for gmap
locations = city_data[["Lat", "Lng"]]
humidity = city_data["Humidity"].astype(float)

#Plot the heatmap
figure = gmaps.figure(map_type='HYBRID')

#create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=50,point_radius=1.5)

#add the layer to the figure
figure.add_layer(heat_layer)

#display figure
figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:

#Create a new dataframe to allow for weather criterias. Maximium Temp lower than 80 but thigher than 70
#wind speed less than 10 mph, zero cloudiness

cond_df = city_data.copy()
cond_df = cond_df[cond_df['Max Temp'] >=70]
cond_df = cond_df[cond_df['Max Temp'] <=80]
cond_df = cond_df[cond_df['Wind Speed'] <=10]
cond_df = cond_df[cond_df['Cloudiness'] ==0]
cond_df = cond_df.dropna()
cond_df = cond_df.reset_index()

cond_df_drop = cond_df.drop(['index', 'Unnamed: 0'], axis=1)
cond_df_drop

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Goundam,0,ML,1580239807,8,16.41,-3.67,77.11,9.51
1,Kyaikkami,0,MM,1580239811,69,16.08,97.57,71.40,8.88
2,Ankazoabo,0,MG,1580239814,87,-22.28,44.52,70.75,8.93
3,Wukari,0,NG,1580239802,14,7.85,9.78,78.10,4.21
4,Am Timan,0,TD,1580239819,12,11.03,20.28,70.25,5.17
5,Paoua,0,CF,1580239825,19,7.24,16.44,70.81,3.04
6,Dedougou,0,BF,1580239833,6,12.47,-3.47,76.96,6.87
7,Tonj,0,SS,1580239834,14,7.27,28.68,72.64,3.71
8,Betare Oya,0,CM,1580239835,23,5.60,14.08,72.79,5.77
9,Bondo,0,CD,1580239846,29,3.81,23.69,73.36,2.46
10,Savannah Bight,0,HN,1580239847,76,16.45,-85.85,78.31,5.97
11,Sorong,0,ID,1580239578,97,-0.88,131.25,73.54,2.04

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:

hotel_df = pd.DataFrame(cond_df_drop, columns=["City", "Country", "Lat", "Lng"]).copy()
hotel_df["Hotel Name"]=""
hotel_df

              City Country    Lat     Lng Hotel Name
0          Goundam      ML  16.41   -3.67
1        Kyaikkami      MM  16.08   97.57
2        Ankazoabo      MG -22.28   44.52
3           Wukari      NG   7.85    9.78
4         Am Timan      TD  11.03   20.28
5            Paoua      CF   7.24   16.44
6         Dedougou      BF  12.47   -3.47
7             Tonj      SS   7.27   28.68
8       Betare Oya      CM   5.60   14.08
9            Bondo      CD   3.81   23.69
10  Savannah Bight      HN  16.45  -85.85
11          Sorong      ID  -0.88  131.25

In [14]:
#creates a list to capture hotel names to insert into dataframe
hotel_name = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}


for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    try:
#       hotel_df.iloc[index, 4] = name_address['results'][0]['name']
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)
        
#apend dataframe with hotel names        
hotel_df['Hotel'] = hotel_name
hotel_df

              City Country    Lat     Lng Hotel Name                  Hotel
0          Goundam      ML  16.41   -3.67                               NaN
1        Kyaikkami      MM  16.08   97.57                               NaN
2        Ankazoabo      MG -22.28   44.52                               NaN
3           Wukari      NG   7.85    9.78                 Rohi Grand Suites
4         Am Timan      TD  11.03   20.28                               NaN
5            Paoua      CF   7.24   16.44                               NaN
6         Dedougou      BF  12.47   -3.47                        Hotel Loba
7             Tonj      SS   7.27   28.68                               NaN
8       Betare Oya      CM   5.60   14.08                               NaN
9            Bondo      CD   3.81   23.69                               NaN
10  Savannah Bight      HN  16.45  -85.85                     Hotel Guanaja
11          Sorong      ID  -0.88  131.25             Swiss-Belhotel Sorong

In [15]:
params

{'radius': 5000,
 'types': 'hotel',
 'keyword': 'hotel',
 'key': 'AIzaSyD0JgZIWNfGl6DnMeqTSIBW8TndqzQwdMY',
 'location': '-0.88,131.25'}

In [16]:

clean_hotel_df = hotel_df.dropna()
clean_hotel_df

              City Country    Lat     Lng Hotel Name                  Hotel
3           Wukari      NG   7.85    9.78                 Rohi Grand Suites
6         Dedougou      BF  12.47   -3.47                        Hotel Loba
10  Savannah Bight      HN  16.45  -85.85                     Hotel Guanaja
11          Sorong      ID  -0.88  131.25             Swiss-Belhotel Sorong

In [35]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
location = hotel_df[["Lat", "Lng"]]

In [36]:
# Add marker layer ontop of heat map